body{
  background: white;
/*
  *background-image:url(../contenu/img/backgroungBody.png);
  *background-attachment: fixed;
*/
}
.index_indexImage{
  width: 200px;
}
.index_index{
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index_indexCover{
  position: absolute;;
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
}
.index_indexTitre{
  font-family: 'Grand Hotel',cursive;
  font-size: 110px;
  padding-top: 50px;
}
.index_indexSousTitre{
  padding-top: 25px;
  font-size: 30px;
}
.lnr-chevron-down {
  color: red;
  font-size: 60px;
}
.site-content{
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.index_menu{
  color: white;
}
/*
*CSS page blog.html
*/
.blog_contents{
  height: 350px;
  border-radius: 10px;
  background: #e6e6e6;
  margin: 10px;
  width: 570px;
}
  /*
  *background: rgba(66,29,38,0.85);
  *background: -moz-linear-gradient(-45deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(66,29,38,0.85)), color-stop(56%, rgba(143,2,34,0.51)), color-stop(100%, rgba(255,112,150,0.25)));
  *background: -webkit-linear-gradient(-45deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *background: -o-linear-gradient(-45deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *background: -ms-linear-gradient(-45deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *background: linear-gradient(135deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#421d26', endColorstr='#ff7096', GradientType=1 );
  */
}
.blog_searchbar{

}
.blog_searchbarRadius{
  border-radius: 10px;
  margin-left: -5px;
  width: 1160px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.blog_searchbutton{
  border-radius: 0px 10px 10px 0px;
  height: 40px;
  margin-left: -14px;
}
.blog_searchinput{
  border-radius: 10px 0px 0px 10px;
  height: 40px;
}
/*
 * Taille image 240pxX305px
 */
.blog_imageArticle{
  margin-left: -5px;
  margin-top: 10px;
  color: black;
  height: 280px;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
}
.blog_texteArticle{
  margin-right: -5px;
  margin-top: 10px;
  color: black;
  height: 280px;
}
.blog_detailArticle{
  margin-top: 15px;
  text-align: center;
}
.blog_titreArticle{
  font-size: 26px;
  color: black;
}
.blog_pagination{
  text-align: center;
  background: #e6e6e6;
  margin-top: 10px;
  padding-top: 15px;
  margin-bottom: 10px;
  width: 1160px;
  margin-right: 10px;
  border-radius: 10px;
}
.blog_suiteArticle{
  color: #2199e8;
}
.blog_tags{
  border-radius: 5px;
}
.index_contents{
  background: #e6e6e6;
  border-radius: 10px;
  margin: 10px;
  /*
  *background: rgba(66,29,38,0.85);
  *background: -moz-linear-gradient(-45deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(66,29,38,0.85)), color-stop(56%, rgba(143,2,34,0.51)), color-stop(100%, rgba(255,112,150,0.25)));
  *background: -webkit-linear-gradient(-45deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *background: -o-linear-gradient(-45deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *background: -ms-linear-gradient(-45deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *background: linear-gradient(135deg, rgba(66,29,38,0.85) 0%, rgba(143,2,34,0.51) 56%, rgba(255,112,150,0.25) 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#421d26', endColorstr='#ff7096', GradientType=1 );
  */
}
.index_imageCV{
  border: 1px solid;
  border-color: #B40404;
  margin-left: 10px;
  margin-top: 40px;
  transition-property: all;
  transition-duration: 0.5s;
}
.index_imageCV:hover{
  border-radius: 100px;
  transform: rotate(720deg);
}
.index_texteCV{
  margin-top: 20px;
}
.index_nom{
  color: #B40404;
  font-size: 20px;
}
.index_popup span{
     position:absolute;
     margin-top:23px;
     margin-left:-100px;
     color:#B40404;
     padding:10px;
     border-radius:10px;
     transform:scale(0) rotate(-12deg);
     transition:all .25s;
     opacity:0;
     border: 1px solid;
     border-color: #B40404;
     background: white;
}
.index_popup:hover span, .index_popup:focus span{
     transform:scale(1) rotate(0);
     opacity:1;
}
.article_contents{
  background: #e6e6e6;
  border-radius: 10px;
  max-width: 1155px;
  margin: 10px;
}
.article_contentsLeft{
  margin-left: -5px;
  margin-top: 20px;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
}
.article_texteArticle{
  margin-right: -5px;
  margin-top: 10px;
  color: black;
}
.article_detailArticle{
  padding-top: 15px;
}
.article_imageArticle{
  overflow: hidden;
  border-radius: 10px;
}
.article_gallery{
}
.article_map{
  text-align: center;
}
.article_mapContent{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: -15px;
  width: 1125px;
  height: 400px;
}
.article_links{
  margin-top: 10px;
}
.article_linksContents{
  background: #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}
.article_linksArticle{
  background: #e6e6e6;
  border-radius: 10px;
  margin: 15px;
  max-width: 1155px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15
}
.article_linksTag{
  padding-left: 15px;
}
.article_linksImage{
  border-radius: 5px;
}
.article_linksText{
  color: black;
}
.article_linksTitre{
    font-size: 26px;
    color: black;
    text-align: center;
}
.article_linksAuteur{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.index_ligne{
  width: 15%;
}
.gallery_contents{
  width: 300px;
  height: 200px;
  overflow: hidden;
}
/* The Image Box */
div.gallery_img {
    border: 1px solid #ccc;
}

div.gallery_img:hover {
    border: 1px solid #777;
}

/* The Image */
div.gallery_img img {
    width: 100%;
    height: 150px;
    cursor: pointer;
}

/* Description of Image */
div.gallery_texte {
    padding: 5px;
    text-align: center;
}

/* Add Responsiveness */
.galery_responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 250px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 70px;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Columns */
@media only screen and (max-width: 700px){
    .galery_responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .galery_responsive {
        width: 100%;
    }
}

/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.euro_jour{
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  padding-bottom: 10px;
}
.euro_centre{
  text-align: center;
  font-size: 40px;
  color: grey;
  height: 70px;
}
.euro_equipeGauche{
  text-align: right;
  height: 70px;
  font-size: 25px;
  padding-top: 15px;
}
.euro_equipeDroite{
  text-align:left;
  height: 70px;
  font-size: 25px;
  padding-top: 15px;
}
.euro_imageGauche{
  text-align: right;
  height: 70px;
  padding-top: 8px;
}
.euro_imageDroite{
  text-align:left;
  height: 70px;
  padding-top: 8px;
}
.euro_semaine{
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  padding-bottom: 10px;
}
.annexe_contents{
  padding-left: 35px;
  padding-top: 15px;
}
.indexTitre{
  padding-left: 20px;
  padding-top: 15px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 98%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.accordion.active, .accordion:hover {
  background-color: #ddd;
}
.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.accordion.active:after {
  content: "\2796";
}
div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
  width: 98%;
  background: #e6e6e6;
  border: 1px solid;
  border-color: #ddd;
  margin-bottom: 35px;
}
div.panel.show {
  opacity: 1;
  max-height: 1000px;
}
pre {
}
.test{
  z-index: 10000;
}
