.site-footer{
  /*
  *background-color: #292c2f;
  */
  background-image:url(../contenu/img/backgroundFooter.png);
  padding: 30px;
  margin-top: 10px;
}
.site-footer .footertop{
  padding: 20px;
}
.site-footer .footertopright{
}
.site-footer .footertopcenter{
  height: 300px;
}
.site-footer .footertopleft{
  height: 300px;
}
.site-footer .footercenterleft{
  height: 50px;
  background: #585858;
  width: 380px;
  margin-left: 30px;
  border-radius: 10px 0px 0px 10px;
}
.site-footer .footercentercenter{
  height: 50px;
  background: #424242;
  width: 380px;
}
.site-footer .footercenterright{
  height: 50px;
  background: #585858;
  width: 380px;
  margin-right: 30px;
  border-radius: 0px 10px 10px 0px;
}
.site-footer .footer-copywrite {
  color: #8f9296;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
.site-footer .footer-links a {
  list-style: none;
  font-weight: normal;
  color: #fff;
  padding: 3rem 0 2rem;
  margin: 0;
  font-size: 1.3rem;
}
.site-footer .footer-links a::after {
  content: "•";
  padding: 0 0.2rem 0 0.4rem;
}
.site-footer .footer-links a:last-child::after {
  content: "";
  padding: 0 0.4rem 0 0.8rem;
}
.site-footer .footer-text{
  color: #8f9296;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}
.site-footer .contact {
  list-style-type: none;
  text-align: left;
  color: #8f9296;
}
.site-footer .contact li {
  margin-bottom: 2rem;
}
.site-footer .contact li p {
  padding-left: 5rem;
}
.site-footer .contact i {
  position: absolute;
  background-color: #33383b;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1;
  margin: 0 0 0 -4rem;
  vertical-align: middle;
  padding: .25em .45em;
}
.site-footer .first-links{
  list-style-type: none;
  color: #8f9296;
  background-color: #33383b;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  padding: .25em .45em;
  margin: 10px;
}
.site-footer .second-links{
  padding-top: 12px;
  text-align: center;
  color: #fff;
}
/*
 * GoogleMap
 */
#map{
  height: 300px;
}
/* Small only */
@media (max-width: 1254px) {
  .site-footer .footercenterleft{
    margin-left: 0px;
    border-radius: 0px 0px 0px 0px;
  }
  .site-footer .footercenterright{
    border-radius: 0px 0px 0px 0px;
  }
}
