.site-header{
  opacity: 100px;
}
/*
 * Menu
 */
.site-header .limenu{
  width: 200px;;
  color: white;
  text-align: center;
  font-size: 18px;
  position: relative;
  vertical-align:bottom;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.site-header .baniere{
  padding-bottom: 0px;
}
/*
 * Colors of the menu
 */
.site-header .blue{
  background: rgba(59,170,222,1);
  background: -moz-linear-gradient(left, rgba(59,170,222,1) 10%, rgba(50,158,209,1) 19%, rgba(2,97,141,1) 67%, rgba(1,81,118,1) 84%, rgba(0,73,107,1) 92%);
  background: -webkit-gradient(left top, right top, color-stop(10%, rgba(59,170,222,1)), color-stop(19%, rgba(50,158,209,1)), color-stop(67%, rgba(2,97,141,1)), color-stop(84%, rgba(1,81,118,1)), color-stop(92%, rgba(0,73,107,1)));
  background: -webkit-linear-gradient(left, rgba(59,170,222,1) 10%, rgba(50,158,209,1) 19%, rgba(2,97,141,1) 67%, rgba(1,81,118,1) 84%, rgba(0,73,107,1) 92%);
  background: -o-linear-gradient(left, rgba(59,170,222,1) 10%, rgba(50,158,209,1) 19%, rgba(2,97,141,1) 67%, rgba(1,81,118,1) 84%, rgba(0,73,107,1) 92%);
  background: -ms-linear-gradient(left, rgba(59,170,222,1) 10%, rgba(50,158,209,1) 19%, rgba(2,97,141,1) 67%, rgba(1,81,118,1) 84%, rgba(0,73,107,1) 92%);
  background: linear-gradient(to right, rgba(59,170,222,1) 10%, rgba(50,158,209,1) 19%, rgba(2,97,141,1) 67%, rgba(1,81,118,1) 84%, rgba(0,73,107,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3baade', endColorstr='#00496b', GradientType=1 );
  border-radius: 0px 0px 0px 10px;
}
.site-header .red{
  background: rgba(222,59,97,1);
  background: -moz-linear-gradient(left, rgba(222,59,97,1) 10%, rgba(209,50,87,1) 19%, rgba(141,2,34,1) 67%, rgba(118,1,28,1) 84%, rgba(107,0,25,1) 92%);
  background: -webkit-gradient(left top, right top, color-stop(10%, rgba(222,59,97,1)), color-stop(19%, rgba(209,50,87,1)), color-stop(67%, rgba(141,2,34,1)), color-stop(84%, rgba(118,1,28,1)), color-stop(92%, rgba(107,0,25,1)));
  background: -webkit-linear-gradient(left, rgba(222,59,97,1) 10%, rgba(209,50,87,1) 19%, rgba(141,2,34,1) 67%, rgba(118,1,28,1) 84%, rgba(107,0,25,1) 92%);
  background: -o-linear-gradient(left, rgba(222,59,97,1) 10%, rgba(209,50,87,1) 19%, rgba(141,2,34,1) 67%, rgba(118,1,28,1) 84%, rgba(107,0,25,1) 92%);
  background: -ms-linear-gradient(left, rgba(222,59,97,1) 10%, rgba(209,50,87,1) 19%, rgba(141,2,34,1) 67%, rgba(118,1,28,1) 84%, rgba(107,0,25,1) 92%);
  background: linear-gradient(to right, rgba(222,59,97,1) 10%, rgba(209,50,87,1) 19%, rgba(141,2,34,1) 67%, rgba(118,1,28,1) 84%, rgba(107,0,25,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de3b61', endColorstr='#6b0019', GradientType=1 );
}
.site-header .orange{
  background: rgba(222,154,59,1);
  background: -moz-linear-gradient(left, rgba(222,154,59,1) 10%, rgba(209,143,50,1) 19%, rgba(141,83,2,1) 67%, rgba(118,69,1,1) 84%, rgba(107,62,0,1) 92%);
  background: -webkit-gradient(left top, right top, color-stop(10%, rgba(222,154,59,1)), color-stop(19%, rgba(209,143,50,1)), color-stop(67%, rgba(141,83,2,1)), color-stop(84%, rgba(118,69,1,1)), color-stop(92%, rgba(107,62,0,1)));
  background: -webkit-linear-gradient(left, rgba(222,154,59,1) 10%, rgba(209,143,50,1) 19%, rgba(141,83,2,1) 67%, rgba(118,69,1,1) 84%, rgba(107,62,0,1) 92%);
  background: -o-linear-gradient(left, rgba(222,154,59,1) 10%, rgba(209,143,50,1) 19%, rgba(141,83,2,1) 67%, rgba(118,69,1,1) 84%, rgba(107,62,0,1) 92%);
  background: -ms-linear-gradient(left, rgba(222,154,59,1) 10%, rgba(209,143,50,1) 19%, rgba(141,83,2,1) 67%, rgba(118,69,1,1) 84%, rgba(107,62,0,1) 92%);
  background: linear-gradient(to right, rgba(222,154,59,1) 10%, rgba(209,143,50,1) 19%, rgba(141,83,2,1) 67%, rgba(118,69,1,1) 84%, rgba(107,62,0,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de9a3b', endColorstr='#6b3e00', GradientType=1 );
}
.site-header .green{
  background: rgba(59,222,143,1);
  background: -moz-linear-gradient(left, rgba(59,222,143,1) 10%, rgba(50,209,132,1) 19%, rgba(2,141,74,1) 67%, rgba(1,118,61,1) 84%, rgba(0,107,55,1) 92%);
  background: -webkit-gradient(left top, right top, color-stop(10%, rgba(59,222,143,1)), color-stop(19%, rgba(50,209,132,1)), color-stop(67%, rgba(2,141,74,1)), color-stop(84%, rgba(1,118,61,1)), color-stop(92%, rgba(0,107,55,1)));
  background: -webkit-linear-gradient(left, rgba(59,222,143,1) 10%, rgba(50,209,132,1) 19%, rgba(2,141,74,1) 67%, rgba(1,118,61,1) 84%, rgba(0,107,55,1) 92%);
  background: -o-linear-gradient(left, rgba(59,222,143,1) 10%, rgba(50,209,132,1) 19%, rgba(2,141,74,1) 67%, rgba(1,118,61,1) 84%, rgba(0,107,55,1) 92%);
  background: -ms-linear-gradient(left, rgba(59,222,143,1) 10%, rgba(50,209,132,1) 19%, rgba(2,141,74,1) 67%, rgba(1,118,61,1) 84%, rgba(0,107,55,1) 92%);
  background: linear-gradient(to right, rgba(59,222,143,1) 10%, rgba(50,209,132,1) 19%, rgba(2,141,74,1) 67%, rgba(1,118,61,1) 84%, rgba(0,107,55,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bde8f', endColorstr='#006b37', GradientType=1 );
  border-radius: 0px 0px 10px 0px;
}
/* Small only */
@media (max-width: 640px) {
  .navigation{
    display: none;
  }
}
