.title-bar-nav {
  background: black;
  padding: 0.9rem;
}
.top-bar-nav {
  background: black;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.top-bar-nav ul {
  background: black;
}
.top-bar-nav ul li {
  background: black;
}
.top-bar-nav ul li a {
  color: #fff;
}
.top-bar-nav ul li a:hover {
  color: #2199e8;
}
.menu-text-nav {
  color: #fff;
}
@media only screen and (max-width: 40em) {
  .menu-text-nav {
    display: none !important;
  }
}
@media only screen and (min-width: 40em) {
  .top-bar-nav .menunav:last-child {
    border-left: 1px solid #4e4e4e;
  }
  .top-bar-nav .menunav:first-child {
    border-left: none;
  }
  .top-bar-nav .menunav li:not(:last-child) {
    border-right: 1px solid #4e4e4e;
  }
}
.dropdownnav.menunav .submenu {
  border: none;
}
.submenu{
  border: none;
  
}
.dropdown_nav.menunav .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent;
}
.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff;
}
.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;}.imagenav{  height: 80px;  position: absolute;  margin-top: -5px;  margin-left: -10px;  z-index: 100;}.imagenavsmall{  height: 40px;}