.stick_ul,.stick_li{
  list-style:none;
}
.stick_ul{
  overflow:hidden;
  padding:3em;
}
.stick_ul .stick_li .stick_a{
  text-decoration:none;
  color:#000;
  background:#ccf;
  display:block;
  height:11em;
  width:13em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.stick_ul .stick_li{
  margin:1em;
  float:left;
}
.stick_ul .stick_li .stick_h2{
  font-size:180%;
	margin-top: -15px;
  font-weight:bold;
	font-family:"Reenie Beanie",arial,sans-serif;
}
.stick_ul .stick_li .stick_p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:140%;
}
.stick_ul .stick_li .stick_a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.stick_ul .stick_li:nth-child(even) .stick_a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cff;
}
.stick_ul .stick_li:nth-child(5n+1) .stick_a{
  -o-transform:rotate(-6deg);
  -webkit-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
  position:relative;
  top:-5px;
  background:#fcc;
}
.stick_ul .stick_li:nth-child(5n+2) .stick_a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-5px;
  background:#ffc;
}
.stick_ul .stick_li:nth-child(5n+3) .stick_a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#cfc;
}
.stick_ul .stick_li:nth-child(5n+4) .stick_a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.stick_ul .stick_li .stick_a:hover,.stick_ul .stick_li .stick_a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
